---
layout: archive
---

{{ content }}

<p>I am interested in addressing policy-relevant issues with a focus on applied microeconomics. My main research fields are energy and environmental economics, industrial organization, econometrics, and health economics.</p>
<p>On the 2023-24 Job Market<br />
	<a href="../assets/pdfs/CV_KH_jobmarket.pdf">CV</a><br />
	<a href="../assets/pdfs/Hara_RenewableRiskSharingAuction.pdf">Job Market Paper</a><br />
	<a href="../assets/pdfs/research_statement.pdf">Research Statement</a><br />
	<a href="../assets/pdfs/teaching_statement.pdf">Teaching Statement</a>
</p>
<p>I am also a licensed medical doctor and have earned a Ph.D. in Public Health in Japan.</p>
