---
layout: archive
---

{{ content }}

<p>I am a Postdoctoral Scholar at the University of Chicago Harris School of Public Policy and the Energy Policy Institute at the University of Chicago (EPIC). <a href="/cv/">[CV]</a></p>
<p>I am interested in addressing policy-relevant issues with a focus on applied microeconomics. My main research fields are energy and environmental economics, industrial organization, and health economics. <a href="/research/">[Research]</a></p>
<p>I will join Michigan State University Department of Economics as an Assistant Professor in 2025.</p>
